@CHARSET "UTF-8";
/*
.ListBox{
	margin:0 auto;
	text-align:center;
	background-color:#fff;
	width:500px;
	height:auto;
}

.ListTitle{
	font-size:30px;

}

.accountList{
	display:inline-block;
	background-color:green;
	width:350px;
	height:100px;
	font-size:20px;
	margin-top:20px;
}
 */
.subTitle {
	clear: both;
	text-align: left;
	font-size: 50px;
	color: #008080;
}

.listBox {
	list-style: none;
	font-size: 20px;
}

.list {
	margin-left: 100px;
	margin-top: 20px;
	width: 500px;
	height: 80px;
	border-radius: 5px;
	border: 1px outset #b7b7b7;
	background-color: #f7f7f7;
}

.users {
	color: #800040;
	text-decoration: none;
	line-height: 80px;
	font-size: 40px;
	width: 100%;
	height: 80px;
	border-radius: 5px;
}

.kat {
	width: 140px;
	height: 60px;
	text-align:center;
	border-radius: 10px;
	margin-left:500px;
}

.defo {

	color: red;
	font-size: 20px;
	text-decoration: none;
}