@CHARSET "UTF-8";
/* ヘッダー */

/* 全体設定 */
.MENU {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	z-index:9;
	position: relative;
}

.menuBand {
	width: 1000px;
	height: 100px;
	z-index:8;
	margin-left:150px;
}

.menu {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	z-index:7;
}

.menu a {
	text-decoration: none;
	outline: 0;
}

/* ロゴ側設定 */
.logoLine {
	float: left;
	list-style: none;
	margin-top:25px;

}

.logoLine a{
	padding:30px;
}

.cat {
	width: 100px;
	height: 75px;
}

.logo {
	width: 200px;
	height: 80px;
	vertical-line: bottom;
}

.logo:hover {
	transform: scaleX(1.2);
}

/* アイコン側設定 */
.iconLine {
	float: right;
	list-style: none;
}

.iconLine li {
	float: left;
}

/* 各アイコン */
.searchBox {
	margin-top: 25px;
	margin-right: 25px;
	width: 200px;
	height: 50px;
	border: 3px inset #ababab;
	font-size: 20px;
	border-radius: 30px;
	padding-left: 10px;
	padding-right: 45px;
}

.seach_btn {
	border: none;
	cursor: pointer;
	padding: 0;
	font-size: 25px;
	margin-left: -70px;
	background: none;
}

.iconLine img {
	width: 80px;
	height: 80px;
	padding: 10px 0 0 0;
	margin-right: 30px;
	vertical-align: center;
}

.iconLine img:hover {
	opacity: 0.5;
	transition-duration: 0.2s;
	transform: rotate(360deg);
}


/* 背景設定 */
#BACK {
	clear:both;
	width: 100%;
	height: 100px;
	background-color:#fff;
	margin: 0 auto;
	position:absolute;
	top:0;
	z-index:1;
}

#WhiteKey {
	width: 1200px;
/* 	position: absolute;
	top: 0; */
	overflow: hidden;
	/*
	margin-right:10px; */
}

#WhiteKey .whiteKey {
	width: 40px;
	height: 99px;
	border: 0.8px outset #a3a3a3;
	background-color: #fff;
	display: inline-block;
	margin-left: -10px;
		overflow: hidden;
}

#BlackKey {
	width: 1000px;
	overflow: hidden;
	position: absolute;
	top: 0;
}

#BlackKey .blackKey {
	width: 20px;
	height: 40px;
	border: 0.8px outset #848484;
	background-color: #909090;
	display: inline-block;

}

#BlackKey  .Cs {
	margin-left: 20px;
}

#BlackKey  .Ds, .Gs, .As, .HDs, .HGs, .HAs {
	margin-left: 10px;
}

#BlackKey  .Fs {
	margin-left: 45px;
}

#BlackKey .HCs {
	margin-left: 48px;
}

#BlackKey .HFs {
	margin-left: 45px;
}

.end1{
	opacity:0.1;
}
.end2{
	opacity:0.2;
}
.end3{
	opacity:0.3;
}
.end4{
	opacity:0.4;
}
.end5{
	opacity:0.5;
}
.end6{
	opacity:0.6;
}
.end7{
	border-color:#d4d4d4;
	opacity:0.7;
}
.end8{
	border-color:#c0c0c0;
	opacity:0.8;
}