@CHARSET "UTF-8";

/* ホーム：プロフィール */
#profile h2{
	margin-top:10px;
	margin-bottom:20px;
}

.myImage{
	display:block;

}
#profile ul,#profile a{
	list-style:none;
	text-decoration:none;
}


/* ID */
.acId{
	color:#808080;
	margin-bottom:20px;
}

/* 表示名 */
.acName{
	font-size:25px;
	color:#008080;
	padding-bottom:2px;
	border-bottom:1.5px solid #007ab5;
	margin:0 10px;
}

.acName a{
	color:#008080;
	font-weight:bold;
}

/* 紹介文 */
.acIntro{
	padding-bottom:2px;
	border-bottom:1.5px solid #007ab5;
	margin:30px 10px;
}


/* 編集／フォローボタン */
.follow a, .edit a{
	color:#fff;
	width:170px;
	background-color:#47c9a5;
	font-size:18px;
	border-radius:5px;
	padding:5px 10px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05);
	border:1.5px solid #2e9c7d;
/* 	border-bottom:2.2px solid #0083c1;
 */}
.De a{
	background-color:#aef9c1;
	color:#7c7c7c;
}

.follow, .edit {
	margin: 15px 0;
	text-align: center;
}

#profile a:active{
	transform:translateY(2px);
}



/* ***プロフィール編集画面*** */

#profileEdit{
	margin-left:100px;
}


.subTitle{
	text-align:center;
	font-size:30px;
	color: #35ceaf;
	margin:10px 0 40px 0;
}


.editBox{
	margin-top:40px;
	text-align:center;
	width:500px;
	background-color:#fff;
	border:2px solid #333;
	border-radius:5px;
}

.currentImg{
	padding-bottom:10px;
}


.text{
	width:200px;
	font-size:20px;
	margin:10px 0;
}

.update_btn {
	width: 70px;
	height: 35px;
	font-size: 20px;
	background-color: #35ceaf;
	color: #fff;
	border-radius: 5px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影*/
	border: solid 2px #2bb096; /*ボタンの立体感を出すため*/
	cursor: pointer;
	margin-bottom:10px;
}

