@CHARSET "UTF-8";

#profileEdit{
	margin-left:100px;
}


.subTitle{
	text-align:center;
	font-size:30px;
	color: #35ceaf;
	margin:10px 0 40px 0;
}


.editBox{
	margin-top:40px;
	text-align:center;
	width:500px;
	background-color:#fff;
	border:2px solid #333;
	border-radius:5px;
}

.currentImg{
	padding-bottom:10px;
}


.text{
	width:200px;
	font-size:20px;
	margin:10px 0;
}

.update_btn {
	width: 70px;
	height: 35px;
	font-size: 20px;
	background-color: #35ceaf;
	color: #fff;
	border-radius: 5px;
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0
		rgba(0, 0, 0, 0.05); /*ボタンの影*/
	border: solid 2px #2bb096; /*ボタンの立体感を出すため*/
	cursor: pointer;
	margin-bottom:10px;
}

