@CHARSET "UTF-8";


body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #333333;
	font-family: "メイリオ", sans-serif;
	background: #cbefec;
}
*{
	margin:0;
	padding:0;
}


/* micro clearfix */
.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

/* ***以下レイアウト*** */
/*header.css参照
*/




/* ホームレイアウト */
#main {
	clear: both;
	margin: 0 auto;
	width:1000px;

}

#profileSide{
	width: 320px;
	float: left;
	margin-top:25px;
	background-color: #fbfbfb;
	border: 3.5px ridge #008080;
	border-radius: 5px;
	text-align:center;
}
/*profile.css参照
*/


#tweetSide{
	width: 600px;
	float: left;
	margin-top:25px;
	margin-left:30px;
	background-color: #fbfbfb;
	border: 3.5px groove #008080;
	border-radius: 5px;
}
/*tweet.css参照
*/






/*
.backImg1{
	position:relative;
	top:0;
	left:0;
	width: 650px;
	height: 220px;
	background: url('../images/waltz1.png');
	background-size: cover;
	z-index:1;
}

.backImg2{
	position:absolute;
	top:220px;
	left:50px;
	width: 680px;
	height: 220px;
	background: url('../images/waltz2.png');
	background-size: cover;
	z-index:1;
}

.backImg3{
	position:absolute;
	top:450px;
	left:100px;
	width: 650px;
	height: 220px;
	background: url('../images/waltz3.png');
	background-size: cover;
	z-index:1;
}

 */